* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: #cfcfcf;
}

/* Components */

.main-content {
  background-color: lightblue;
  height: 500px;
  margin: 0;
  gap: 20px;
}

.images-gallery {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

.images-gallery img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}

.canvas-container {
  height: 400px;
  width: 400px;
}

.tools-container {
  background-color: lightcyan;
  height: 400px;
  width: 400px;
}

/* Helpers */

/* Grid */

.grid {
  display: grid;
}

/* Flex */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.align-center {
  align-items: center;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

.flex.align-start {
  align-items: flex-start;
}

.hide {
  display: none;
}
