* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  background-color: #310047;
  font-family: Nato-regular;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* Components */

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: #23232e;
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #23232e;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: (600ms);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #141418;
  color: #ececec;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;

  min-width: 2rem;
  margin: 0 1.5rem;
}

/* .navbar:hover {
  width: 16rem;
} */

/* .navbar:hover .link-text {
  display: block;
} */

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: 600ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #ececec;
  background-color: #141418;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.main-content {
  /* background-color: #310047; */
  height: 500px;
  margin: 0;
  gap: 20px;
}

.images-gallery {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

.images-gallery img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
.memes-gallery {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

.memes-gallery img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}

.canvas-container {
  height: 400px;
  width: 400px;
}

.tools-container {
  padding-block-start: 2rem;
  height: 400px;
  width: 400px;
  gap: 2rem;
  box-shadow: 39px 0px 49px 38px rgba(0, 0, 0, 0.51);
}

.lines-tools {
  gap: 1rem;
}

.lines-tools > * {
  font-family: awesome;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  background-color: white;
  border: 2px solid #9614d0;
}

.lines-tools .move-lines::before {
  content: '\f0dc';
}
.lines-tools .add-line::before {
  content: '\f067';
}
.lines-tools .delete-line::before {
  content: '\f2ed';
}

.tools-container .line-input {
  height: 2.5rem;
  width: 80%;
  border-radius: 10px;
  padding-inline-start: 0.5rem;
  background-color: white;
  border: 2px solid #9614d0;
}

.style-tools {
  gap: 1rem;
}

.style-tools > * {
  font-family: awesome;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  background-color: white;
  border: 2px solid #9614d0;
}

.style-tools .increase-size:before {
  content: '\f031';
}
.style-tools .decrease-size:before {
  content: '\f031';
  font-size: 1rem;
}
.style-tools .move-up:before {
  content: '\f077';
}
.style-tools .move-down:before {
  content: '\f078';
}

.save-download-btns {
  gap: 1rem;
}

.btn-sd {
  height: 3rem;
  width: 8rem;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.save-btn {
  background-color: white;
  border: 3px solid #9614d0;
  position: relative;
}

.save-btn:after {
  font-family: awesome;
  content: '\f0c7';
  position: absolute;
  right: 20px;
}

.download-btn {
  background-color: #9614d0;
  text-decoration: none;
  color: white;
}

/* #D16AFF */

/* save-download-btns download-btn  save-btn btn-sd */

/* Helpers */

/* Grid */

.grid {
  display: grid;
}

/* Flex */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}
.flex.space-around {
  justify-content: space-around;
}

.flex.align-center {
  align-items: center;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

.flex.align-start {
  align-items: flex-start;
}

.hide {
  display: none;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Small */

@media screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large */

@media screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity(600ms);
  }
}

@font-face {
  font-family: Nato-regular;
  src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
  font-family: awesome;
  src: url(../fonts/awesome-fonts/fa-regular-400.ttf);
}
